Repository sourcegraph/scip-java, pull requests merged in 2021-03, with the labels that each got.

#91 JDK 9+ Support
  .github/workflows/ci.yml
  README.md
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/GlobalSymbolsCache.java
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/SemanticdbVisitor.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/BaseEpoxyAdapter.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/BoundViewHolders.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/Carousel.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/DiffHelper.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/DiffPayload.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/DiffResult.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyAsyncUtil.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyController.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyControllerAdapter.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyItemSpacingDecorator.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyModel.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyModelGroup.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyTouchHelper.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/ModelList.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/ModelState.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/QuantityStringResAttribute.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/StringAttributeData.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/UpdateOp.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/ViewHolderState.java
  tests/snapshots/src/main/generated/minimized/Enums.java
Labels: lib/com.sun.source, lsif-java, team/code-intelligence

#117 adds snapshot command to lsif-java cli
  .gitignore
  build.sbt
  cli/src/main/scala/com/sourcegraph/lsif_java/LsifJava.scala
  cli/src/main/scala/com/sourcegraph/lsif_java/SemanticdbPrinters.scala
  cli/src/main/scala/com/sourcegraph/lsif_java/SnapshotCommand.scala
  tests/snapshots/src/main/scala/tests/LibrarySnapshotGenerator.scala
  tests/snapshots/src/main/scala/tests/MinimizedSnapshotGenerator.scala
  tests/unit/src/test/scala/tests/SnapshotCommandSuite.scala
Labels: lsif-java, team/code-intelligence

#125 emit definition occurences for type parameters
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/SemanticdbVisitor.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/BaseEpoxyTouchCallback.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/ControllerHelper.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyDragCallback.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyModel.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyModelTouchCallback.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyModelWithHolder.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyModelWithView.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxySwipeCallback.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyTouchHelper.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/GeneratedModel.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/OnModelBoundListener.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/OnModelCheckedChangeListener.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/OnModelClickListener.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/OnModelLongClickListener.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/OnModelUnboundListener.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/OnModelVisibilityChangedListener.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/OnModelVisibilityStateChangedListener.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/StyleBuilderCallback.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/Typed2EpoxyController.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/Typed3EpoxyController.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/Typed4EpoxyController.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/TypedEpoxyController.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/WrappedEpoxyModelCheckedChangeListener.java
  tests/snapshots/src/main/generated/minimized/InnerClasses.java
  tests/snapshots/src/main/generated/minimized/ParameterizedTypes.java
Labels: team/code-intelligence

#126 Emit SemanticDB types and signatures
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/GlobalSymbolsCache.java
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/SemanticdbSignatures.java
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/SemanticdbVisitor.java
  semanticdb-javac/src/main/protobuf/semanticdb.proto
  tests/minimized/src/main/java/minimized/ParameterizedTypes.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/ControllerModelList.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/DiffHelper.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyControllerAdapter.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyModel.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyTouchHelper.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/ViewHolderState.java
  tests/snapshots/src/main/generated/minimized/ParameterizedTypes.java
Labels: team/code-intelligence

#129 add emitting of type parameters in method signatures
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/SemanticdbVisitor.java
  tests/snapshots/src/main/generated/com/airbnb/epoxy/EpoxyTouchHelper.java
  tests/snapshots/src/main/generated/minimized/InnerClasses.java
  tests/snapshots/src/main/generated/minimized/TypeVariables.java
Labels: team/code-intelligence

#132 Update documentation
  docs/getting-started.md
  docs/manual-configuration.md
Labels: team/code-intelligence
