Repository sourcegraph/scip-java, pull requests merged in 2021-08, with the labels that each got.

#285 Swap order of signature and docstrings in hover messages
  lsif-java/src/main/scala/com/sourcegraph/lsif_java/commands/SnapshotLsifCommand.scala
  lsif-semanticdb/src/main/java/com/sourcegraph/lsif_semanticdb/LsifSemanticdb.java
  project/plugins.sbt
  tests/snapshots/src/main/generated/index-semanticdb/multifile
  tests/snapshots/src/main/generated/index-semanticdb/reference
Labels: dependency-indexing, team/code-intelligence

#308 change manual gradle configuration to use compileOnly instead of implementation
  docs/manual-configuration.md
Labels: type/documentation, gradle

#309 fix range emitted for member references to only include the reference
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/CompilerRange.java
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/RangeFinder.java
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/SemanticdbVisitor.java
  tests/snapshots/src/main/generated/minimized/Enums.java
Labels: team/code-intelligence

#311 Handle `-cp` javac compiler option just like `-classpath`
  semanticdb-javac/src/main/java/com/sourcegraph/semanticdb_javac/SemanticdbOptionBuilder.java
Labels: team/code-intelligence

#312 Add docs for how to manually enable cross-repository navigation
  docs/manual-configuration.md
Labels: team/code-intelligence
